body .ui-datatable.ui-datatable-striped .ui-datatable-data > tr.ui-datatable-odd{
    
    background: lightgray;
    
    
}

.card {
    background-color: lightblue;
    margin: 10px 20px;
    padding: 1px 20px;
    border-bottom: 15px solid activeborder;
    border-radius: 5px; 
}

body{
    font-family: serif;
    background-color: lightslategrey;
}

.tabela{
    padding: 2%;
}

body .ui-widget{
    
    font-family: serif;
}

